In [1]:
import numpy as np
import pandas as pd

# Comeng Data

In [3]:
comeng = pd.read_json('Comeng.json')

In [4]:
comeng = comeng[comeng["Status:"] != "Scrapped"]

In [5]:
comeng = comeng.drop(columns=['Livery:', 'In Service:', 'Status:'])

In [6]:
comeng = comeng.rename(columns={'Set:': "id", 'Interior:':"notes", 'Notes:':"other"})

In [7]:
comeng.loc[comeng['other'] == 'EED Trial - Modified Horn Installed (Single Tone)', 'notes'] += ', EED Trial'

In [8]:
comeng = comeng.drop(columns=['other'])

In [9]:
comeng.set_index('id', inplace=True)

In [10]:
comeng['train'] = 'Comeng'

In [11]:
comeng

                                           notes   train
id
324M-1031T-342M           Refurbished - EDI-Rail  Comeng
327M-1082T-349M           Refurbished - EDI-Rail  Comeng
328M-1014T-464M           Refurbished - EDI-Rail  Comeng
329M-1015T-366M           Refurbished - EDI-Rail  Comeng
335M-1045T-387M           Refurbished - EDI-Rail  Comeng
...                                          ...     ...
667M-1184T-668M  Refurbished - Alstom, EED Trial  Comeng
669M-1185T-670M             Refurbished - Alstom  Comeng
675M-1188T-676M             Refurbished - Alstom  Comeng
677M-1189T-678M             Refurbished - Alstom  Comeng
679M-1190T-680M             Refurbished - Alstom  Comeng

[115 rows x 2 columns]

# Seimens Data

In [13]:
seimens = pd.read_json('Seimens.json')

In [14]:
seimens = seimens[seimens["Status:"] != "Scrapped"]

In [15]:
seimens['notes'] = ""

In [16]:
seimens.loc[seimens['Livery:'] == 'PTV/2022', 'notes'] += 'PTV 2022 Livery'

In [17]:
seimens = seimens.drop(columns=['Unit:', 'In Service:', 'Status:', 'Notes:','Livery:'])

In [18]:
seimens = seimens.rename(columns={'Set:':"id"})

In [19]:
seimens['train'] = 'Seimens'

In [20]:
seimens.set_index('id', inplace=True)

In [21]:
seimens

                           notes    train
id
701M-2501T-702M                   Seimens
703M-2502T-704M  PTV 2022 Livery  Seimens
705M-2503T-706M  PTV 2022 Livery  Seimens
707M-2504T-708M  PTV 2022 Livery  Seimens
709M-2505T-710M                   Seimens
...                          ...      ...
835M-2568T-836M                   Seimens
837M-2569T-838M                   Seimens
839M-2570T-840M  PTV 2022 Livery  Seimens
841M-2571T-842M                   Seimens
843M-2572T-844M                   Seimens

[72 rows x 2 columns]

# X'Trapolis

In [23]:
xtrap = pd.read_json('XTrapolis.json')

In [24]:
xtrap = xtrap[xtrap["Status:"] != "Scrapped"]

In [25]:
xtrap['Notes:'] = xtrap.apply(lambda row: row['Notes:'] + ', ' + row['Livery:'] + " Livery" if row['Notes:'] else row['Livery:'] + " Livery", axis=1)

In [26]:
xtrap = xtrap.drop(columns=['Unit:', 'In Service:', 'Status:','Livery:'])

In [27]:
xtrap = xtrap.rename(columns={'Set:':"id", "Notes:": "notes" })

In [28]:
xtrap['train'] = "X'Trapolis"

In [29]:
xtrap.set_index('id', inplace=True)

In [30]:
xtrap

                                                             notes       train
id
1M-1301T-2M      Small "Operated by Metro" Signage on M cars on...  X'Trapolis
3M-1302T-4M                                       Metro/PTV Livery  X'Trapolis
5M-1303T-6M                                       Metro/PTV Livery  X'Trapolis
7M-1304T-8M                                       Metro/PTV Livery  X'Trapolis
9M-1305T-10M                                      Metro/PTV Livery  X'Trapolis
...                                                            ...         ...
977M-1689T-978M                                   Metro/PTV Livery  X'Trapolis
979M-1690T-980M                                   Metro/PTV Livery  X'Trapolis
981M-1691T-982M                                   Metro/PTV Livery  X'Trapolis
983M-1692T-984M                                   Metro/PTV Livery  X'Trapolis
985M-1693T-986M                                   Metro/PTV Livery  X'Trapolis

[212 rows x 2 columns]

# HCMT

In [32]:
hcmt = pd.read_json('HCMT.json')

In [33]:
hcmt = hcmt[hcmt["Status:"] != "Scrapped"]

In [34]:
hcmt['Notes:'] = hcmt.apply(lambda row: row['Notes:'] + ', ' + row['Livery:'] + " Livery" if row['Notes:'] else row['Livery:'] + " Livery", axis=1)

In [35]:
hcmt = hcmt.drop(columns=['Unit:', 'In Service:', 'Status:','Livery:'])

In [36]:
hcmt = hcmt.rename(columns={'Set:':"id", "Notes:": "notes" })

In [37]:
hcmt['train'] = "HCMT"

In [38]:
hcmt['id'] = hcmt['id'].str.replace(' ', '', regex=False)

In [39]:
hcmt.set_index('id', inplace=True)

In [40]:
hcmt

,notes,train
id,,
9001-9101-9201-9301-9701-9801-9901,"HCS Installed - Partly Active, Metro/PTV Livery",HCMT
9002-9102-9202-9302-9702-9802-9902,"HCS Installed - Partly Active, Metro/PTV Livery",HCMT
9003-9103-9203-9303-9703-9803-9903,Metro/PTV Livery,HCMT
9004-9104-9204-9304-9704-9804-9904,"HCS Installed - Active, Metro/PTV Livery",HCMT
9005-9105-9205-9305-9705-9805-9905,"HCS Installed - Active, Metro/PTV Livery",HCMT
...,...,...
9066-9166-9266-9366-9766-9866-9966,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9067-9167-9267-9367-9767-9867-9967,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9068-9168-9268-9368-9768-9868-9968,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT
9069-9169-9269-9369-9769-9869-9969,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT
9070-9170-9270-9370-9770-9870-9970,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT

# Combining Trains

In [42]:
data = pd.concat([comeng, seimens], ignore_index=False)
data = pd.concat([data, xtrap], ignore_index=False)
data = pd.concat([data, hcmt], ignore_index=False)

In [43]:
data

,notes,train
id,,
324M-1031T-342M,Refurbished - EDI-Rail,Comeng
327M-1082T-349M,Refurbished - EDI-Rail,Comeng
328M-1014T-464M,Refurbished - EDI-Rail,Comeng
329M-1015T-366M,Refurbished - EDI-Rail,Comeng
335M-1045T-387M,Refurbished - EDI-Rail,Comeng
...,...,...
9066-9166-9266-9366-9766-9866-9966,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9067-9167-9267-9367-9767-9867-9967,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9068-9168-9268-9368-9768-9868-9968,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT
9069-9169-9269-9369-9769-9869-9969,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT
9070-9170-9270-9370-9770-9870-9970,"May 2022 Extended Order Placed, Metro/PTV Livery",HCMT

In [113]:
json_result = data.reset_index().to_json(orient='records')

In [117]:
with open('MelbourneTrains.json', 'w') as file:
    file.write(json_result)