In [2]:
import numpy as np
import pandas as pd

# Comeng Data

In [4]:
comeng = pd.read_json('Comeng.json')

In [5]:
comeng = comeng[comeng["Status:"] != "Scrapped"]

In [6]:
comeng = comeng.drop(columns=['In Service:', 'Status:'])

In [7]:
comeng = comeng.rename(columns={'Set:': "id", 'Interior:':"notes", 'Notes:':"other", "Livery:":"livery"})

In [8]:
comeng.loc[comeng['other'] == 'EED Trial - Modified Horn Installed (Single Tone)', 'notes'] += ', EED Trial'

In [9]:
comeng = comeng.drop(columns=['other'])

In [10]:
comeng.set_index('id', inplace=True)

In [11]:
comeng['train'] = 'Comeng'

In [12]:
comeng

                livery                            notes   train
id
324M-1031T-342M  Metro           Refurbished - EDI-Rail  Comeng
327M-1082T-349M  Metro           Refurbished - EDI-Rail  Comeng
328M-1014T-464M  Metro           Refurbished - EDI-Rail  Comeng
329M-1015T-366M  Metro           Refurbished - EDI-Rail  Comeng
335M-1045T-387M  Metro           Refurbished - EDI-Rail  Comeng
...                ...                              ...     ...
667M-1184T-668M  Metro  Refurbished - Alstom, EED Trial  Comeng
669M-1185T-670M  Metro             Refurbished - Alstom  Comeng
675M-1188T-676M  Metro             Refurbished - Alstom  Comeng
677M-1189T-678M  Metro             Refurbished - Alstom  Comeng
679M-1190T-680M  Metro             Refurbished - Alstom  Comeng

[115 rows x 3 columns]

# Seimens Data

In [14]:
seimens = pd.read_json('Seimens.json')
seimens.head()

,Unit:,Set:,Livery:,In Service:,Status:,Notes:
0,1,701M-2501T-702M,Metro,"Wed, 4th May 2005",In-Service,2022 PIDS System Upgrade
1,2,703M-2502T-704M,PTV/2022,"Sun, 18th Apr 2004",In-Service,2022 PIDS System Upgrade
2,3,705M-2503T-706M,PTV/2022,"Wed, 28th Apr 2004",In-Service,2022 PIDS System Upgrade
3,4,707M-2504T-708M,PTV/2022,"Thu, 3rd Apr 2003",In-Service,2022 PIDS System Upgrade
4,5,709M-2505T-710M,Metro,"Sat, 1st May 2004",In-Service,2022 PIDS System Upgrade

In [15]:
seimens = seimens[seimens["Status:"] != "Scrapped"]

In [16]:
seimens = seimens.drop(columns=['Unit:', 'In Service:', 'Status:'])

In [17]:
seimens = seimens.rename(columns={'Set:':"id", 'Livery:':"livery", 'Notes:':"notes"})

In [18]:
seimens['train'] = 'Seimens'

In [19]:
seimens.set_index('id', inplace=True)

In [20]:
seimens

                   livery                     notes    train
id
701M-2501T-702M     Metro  2022 PIDS System Upgrade  Seimens
703M-2502T-704M  PTV/2022  2022 PIDS System Upgrade  Seimens
705M-2503T-706M  PTV/2022  2022 PIDS System Upgrade  Seimens
707M-2504T-708M  PTV/2022  2022 PIDS System Upgrade  Seimens
709M-2505T-710M     Metro  2022 PIDS System Upgrade  Seimens
...                   ...                       ...      ...
835M-2568T-836M     Metro  2022 PIDS System Upgrade  Seimens
837M-2569T-838M     Metro  2022 PIDS System Upgrade  Seimens
839M-2570T-840M  PTV/2022  2022 PIDS System Upgrade  Seimens
841M-2571T-842M     Metro  2022 PIDS System Upgrade  Seimens
843M-2572T-844M     Metro  2022 PIDS System Upgrade  Seimens

[72 rows x 3 columns]

# X'Trapolis

In [22]:
xtrap = pd.read_json('XTrapolis.json')

In [23]:
xtrap = xtrap[xtrap["Status:"] != "Scrapped"]

In [24]:
xtrap = xtrap.drop(columns=['Unit:', 'In Service:', 'Status:'])

In [25]:
xtrap = xtrap.rename(columns={'Set:':"id", "Notes:": "notes", 'Livery:':"livery" })

In [26]:
xtrap['train'] = "X'Trapolis"

In [27]:
xtrap.set_index('id', inplace=True)

In [28]:
xtrap

,livery,notes,train
id,,,
1M-1301T-2M,PTV/2022,"Small ""Operated by Metro"" Signage on M cars only",X'Trapolis
3M-1302T-4M,Metro/PTV,,X'Trapolis
5M-1303T-6M,Metro/PTV,,X'Trapolis
7M-1304T-8M,Metro/PTV,,X'Trapolis
9M-1305T-10M,Metro/PTV,,X'Trapolis
...,...,...,...
977M-1689T-978M,Metro/PTV,,X'Trapolis
979M-1690T-980M,Metro/PTV,,X'Trapolis
981M-1691T-982M,Metro/PTV,,X'Trapolis
983M-1692T-984M,Metro/PTV,,X'Trapolis
985M-1693T-986M,Metro/PTV,,X'Trapolis

# HCMT

In [30]:
hcmt = pd.read_json('HCMT.json')

In [31]:
hcmt = hcmt[hcmt["Status:"] != "Scrapped"]

In [32]:
hcmt = hcmt.drop(columns=['Unit:', 'In Service:', 'Status:'])

In [33]:
hcmt = hcmt.rename(columns={'Set:':"id", "Notes:": "notes", 'Livery:':"livery" })

In [34]:
hcmt['train'] = "HCMT"

In [35]:
hcmt['id'] = hcmt['id'].str.replace(' ', '', regex=False)

In [36]:
hcmt.set_index('id', inplace=True)

In [37]:
hcmt

,livery,notes,train
id,,,
9001-9101-9201-9301-9701-9801-9901,Metro/PTV,HCS Installed - Partly Active,HCMT
9002-9102-9202-9302-9702-9802-9902,Metro/PTV,HCS Installed - Partly Active,HCMT
9003-9103-9203-9303-9703-9803-9903,Metro/PTV,,HCMT
9004-9104-9204-9304-9704-9804-9904,Metro/PTV,HCS Installed - Active,HCMT
9005-9105-9205-9305-9705-9805-9905,Metro/PTV,HCS Installed - Active,HCMT
...,...,...,...
9066-9166-9266-9366-9766-9866-9966,Metro/PTV,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9067-9167-9267-9367-9767-9867-9967,Metro/PTV,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9068-9168-9268-9368-9768-9868-9968,Metro/PTV,May 2022 Extended Order Placed,HCMT
9069-9169-9269-9369-9769-9869-9969,Metro/PTV,May 2022 Extended Order Placed,HCMT
9070-9170-9270-9370-9770-9870-9970,Metro/PTV,May 2022 Extended Order Placed,HCMT

# Combining Trains

In [39]:
data = pd.concat([comeng, seimens], ignore_index=False)
data = pd.concat([data, xtrap], ignore_index=False)
data = pd.concat([data, hcmt], ignore_index=False)

In [40]:
data

,livery,notes,train
id,,,
324M-1031T-342M,Metro,Refurbished - EDI-Rail,Comeng
327M-1082T-349M,Metro,Refurbished - EDI-Rail,Comeng
328M-1014T-464M,Metro,Refurbished - EDI-Rail,Comeng
329M-1015T-366M,Metro,Refurbished - EDI-Rail,Comeng
335M-1045T-387M,Metro,Refurbished - EDI-Rail,Comeng
...,...,...,...
9066-9166-9266-9366-9766-9866-9966,Metro/PTV,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9067-9167-9267-9367-9767-9867-9967,Metro/PTV,HCS Installed - Active - May 2022 Extended Ord...,HCMT
9068-9168-9268-9368-9768-9868-9968,Metro/PTV,May 2022 Extended Order Placed,HCMT
9069-9169-9269-9369-9769-9869-9969,Metro/PTV,May 2022 Extended Order Placed,HCMT
9070-9170-9270-9370-9770-9870-9970,Metro/PTV,May 2022 Extended Order Placed,HCMT

In [41]:
json_result = data.reset_index().to_json(orient='records')

In [42]:
with open('MelbourneTrains.json', 'w') as file:
    file.write(json_result)